<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <!--configSections>
    <section name="solvers" type="Solvers" />
    <section name="problemVariant" type="ProblemVariant" />
    <section name="problemInstances" type="ProblemInstances" />
  </configSections>
  <solvers>
    <solver>...</solver>
    <solver>...</solver>
    <solver>...</solver>
    <solver>...</solver>
  </solvers>
  <problemVariant>
    makespan, allow edge collision, ...
  </problemVariant>
  <problemInstances>
    dragon age, 50-80 agents, 17 instances per number of agents, ...
  </problemInstances>
  <appSettings>
    <add key="keyname" value="someValue" />
  </appSettings>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
